@import "tailwindcss";


@layer components {


  .title-1 {
    @apply text-4xl font-bold text-zinc-800
  }

  .title-2 {
    @apply text-3xl font-bold text-zinc-600
  }

  .title-3 {
    @apply text-2xl font-medium text-zinc-800
  }

  .title-4 {
    @apply text-xl font-medium text-zinc-600
  }

  .title-5 {
    @apply text-lg font-medium text-zinc-600
  }

  .gallery {
    @apply w-full p-3 columns-3 gap-5
  }

  .modal {
    @apply fixed top-0 left-0 w-full h-full bg-[#0000005b] z-50
  }

  .gallery-item {
    @apply mb-5;
    break-inside: avoid;
  }

  .submit-button {
    @apply disabled:opacity-60 disabled:cursor-not-allowed align-middle cursor-pointer rounded-2xl bg-emerald-400 hover:bg-emerald-500 p-3 text-white font-semibold
  }

  .black-button {
    @apply bg-black text-white p-3 rounded-xl font-semibold
  }



  .navigation-bar-item {
    @apply text-gray-700 bg-white p-3 space-x-2 rounded-full first-letter:uppercase
  }

  .navigation-bar-item.active {
    @apply bg-black text-white font-bold
  }

  .join-contributor-grid {
    @apply grid lg:grid-cols-2 lg:grid-rows-2 grid-flow-col grid-cols-1 gap-4;

  }

  .dropDown {
    @apply border-b-[1] border-gray-200 border-solid p-2 text-lg text-zinc-800
  }

  .drop-down-item {
    @apply flex gap-2 items-center rounded-2xl text-lg text-nowrap text-gray-400 p-2 hover:bg-gray-100
  }

  .loader {
    color: #000000;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  }

  .spinner {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m:
      conic-gradient(#0000 10%, #000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
  }

}


@layer base {

  input,
  button,
  textarea {
    outline: none;
    border: none;
  }

}


@keyframes l3 {
  to {
    transform: rotate(1turn)
  }
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em,
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}